<a href="https://colab.research.google.com/github/dsmaroof/ds1002-ds3zj/blob/main/10_15_HW_week_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## While-Loops

Perform the following steps in code:
1. Define a variable and populate it with `0`.
2. Create a while statement that evaluates whether that variable is less than or equal to `20`.
3. Within the while loop evaluate if the variable value is even or odd.
4. Within the while loop, if the variable value is even, print it. If not, do not print it.
5. Within the while loop, finally add `1` to the variable before it repeats.

In [4]:
# code here

var = 0
while var <= 20:
  if var % 2 == 0:
    print(var)
  var += 1

0
2
4
6
8
10
12
14
16
18
20

## For-Loops with Lists

In [5]:
# Use this list in the exercises below

mylist = [9, 15, 23, 4, 92, 47, 33, 17, -4, 18, 38, -242]

In [8]:
# Write a command to print out all the values of this list
# EXCEPT for any negative values. Omit them from the printing.

for number in mylist:
  if number >= 0:
    print(number)

9
15
23
4
92
47
33
17
18
38

In [9]:
# Repeat the command from above, but this time get
# the absolute value of any negative values in the list
# and print those with the other items.

for number in mylist:
  if number < 0:
    print(abs(number))
  else:
    print(number)

9
15
23
4
92
47
33
17
4
18
38
242

In [11]:
# Similar to above, write a command to print out items in
# the list but omit any values greater than 20 and less than 40.

for number in mylist:
  if 20 < number < 40:
    print(number)

23
33
38

## For-Loops with Dictionaries

In [12]:
capitals = {'United States':'Washington DC',
          'Italy':'Rome',
          'England':'London',
          'Thailand':'Bangkok',
          'Brazil':'Brasilia'}

In [14]:
# Write a command to print out all the keys of this dict

for key in capitals:
  print(key)

United States
Italy
England
Thailand
Brazil

In [15]:
# Write a command to print out all the values of this dict

for value in capitals:
  print(capitals[value])

Washington DC
Rome
London
Bangkok
Brasilia

In [16]:
# Write a command to print all the keys and values for this dict

for key, value in capitals.items():
  print(key, " ", value)

United States   Washington DC
Italy   Rome
England   London
Thailand   Bangkok
Brazil   Brasilia

In [20]:
# Write a command to print only the first three values and NOTHING more.

for key, value in list(capitals.items())[:3]:
  print(key, " ", value)

United States   Washington DC
Italy   Rome
England   London